
body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: pink;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 80px;
  background: linear-gradient(90deg, #e4459f 1.18%, #eb83a5 100%);
  color: white; 
  overflow: hidden;
  padding: 30px;
  top: 0%; 
  left: 0%; 
  position:absolute;
  width: 100%;
  box-sizing: border-box; 
  height: 150px;
}


.header--image {
  height: 100px;
  float: left;
  margin-right: 6px;
}

.header--title {
  font-size: 2rem;
  margin-right: auto;
  font-weight: bolder;
  animation: rainbowAnimation 10s linear infinite;
}

@keyframes rainbowAnimation {
  0% { color: rgb(230, 149, 149); }
  16.66% { color: orange; }
  33.33% { color: yellow; }
  50% { color: green; }
  66.66% { color: blue; }
  83.33% { color: indigo; }
  100% { color: violet; }
}

.header--slogan {
  font-size: 1.3rem;
  font-weight: 600;
}

.form-container {
  padding: 20px; 
}

.form {
  display: grid;
  grid-template: 40px 40px / 2fr 2fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  text-align: center; 
  background: linear-gradient(90deg, #e4459f 1.18%, #eb83a5 100%);
  color: white;
  border: none;
  cursor: grab;
  padding: 10px;
  border-radius: 5px; 
}

.form--input {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1rem;
}

.form--label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

.meme--image {
  max-height: 100%;
  border-radius: 3px;
  max-height: 600px;
  display: block;
  margin: 0 auto;
}

.meme {
  position: sticky;
  margin-top: 40px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}